.collapsible-component {
	page-break-before:auto;	
}

	.collapsible-component h4 {
		border: 1px solid transparent;
		border-radius: 0.1em;
	}

	.collapsible-component h4:hover {
		cursor: pointer;
		border:1px solid gray;
		
	}

	.collapsible-component h4:focus {
		background-color: orange;
	}
