.collapsible-component {
	page-break-before:auto;	
}

	.collapsible-component .header {
		/*border: 1px solid transparent;*/
		border-radius: 0.1em;
		padding:0.2em;
	}

		.collapsible-component .header:hover {
			cursor: pointer;
			background-color: #eeeeee;
			/*border:1px solid gray;*/
		}

	.collapsible-component .header:active {
		background-color: #dddddd;
	}
